<!doctype html>
  <head>
    <meta charset="utf-8">

    <title>Geodesica</title>

    <link rel="stylesheet" type="text/css" href="geodesica.css">

    <script src="js/vendor/jquery-1.5.1.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/geodesica.js"></script>

    <script type="text/template" id="block-template">
      <% _.each(layers, function(layer) { %>
        <div class="block tile <%= layer %>"></div>
      <% }); %>
    </script>

    <script type="text/template" id="job-template">
    </script>

    <script type="text/template" id="jobs-template">
      <div class="jobs">
      </div>
    </script>
    <script type="text/template" id="mobile-template">
    </script>

    <script type="text/template" id="mobiles-template">
      <div class="mobiles">
      </div>
    </script>

    <script type="text/template" id="mobile-detail-template">
      <span><%= id %></span>
      <span><%= debug %></span>
    </script>

    <script type="text/template" id="mobiles-detail-template">
      <div class="mobiles">
      </div>
    </script>

    <script type="text/template" id="building-template">
      <span id="<%= name %>" class="name"><%= name %></span>
    </script>

    <script type="text/template" id="buildings-template">
      <div id="buildings">
      </div>
    </script>
    <script type="text/template" id="status-template">
      <h5>Food: <%= food %> Drink: <%= drink %></h5>
    </script>
    <script type="text/template" id="map-template">
      <div class="blocks">
      </div>
    </script>

    <script type="application/javascript">
      setInterval(function() {
      }, 1000);
      setInterval(function() {
      }, 100);
        window.mobiles.fetch();
        window.jobs.fetch();
      window.map.fetch();
    </script>

  </head>

  <body>
    <div id="container">
      <div id="map">
      </div>
      <div id="minimap">
      </div>
      <div id="log">
      </div>
      <div id="mapcontrol">
      </div>
      <div id="build">
      </div>
      <div id="status">
      </div>
      <div id="detail">
      </div>
    </div>
  </body>
</html>

